body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

section.main {
    background-color: #fff;
    margin: 0 auto;
    max-width: 900px;
    padding: 2em;
}

.demo-header {
    border-bottom: 4px solid #f5f5f5;
    margin-bottom: 2em;
    padding-bottom: 2em;
}


/* Note that this will look nothing like a spinner - we'll leave the styling up to you */

.spinner {
    background-color: #ccc;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.accessibility {
    color: #666;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}